<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
<header th:replace="fragments :: header"></header>

<div class="container-lg mt-4">
   <div class="row justify-content-center align-items-center">
      <h3 class="text-center display-6 my-3 text-muted"> Here are the details about your connection:</h3>
      <div class="col-md-3 text-center">
         <img th:src="${event.imageLink}" alt="my image" style="max-height: 300px;max-width: 300px;"/>
      </div>
      <div class="col-md-3 text-center text-md-start">
         <h4><b>Name: </b><span th:text="${event.name}"></span></h4>
         <h4><b>Company: </b><span th:text="${event.company}"></span></h4>
         <h4><b>Job Title: </b><span th:text="${event.title}"></span></h4>
         <h4 class="mt-3"><b>Email:</b></h4>
         <p th:text="${event.contactEmail}"></p>

      </div>
   </div>
   <div class="container-lg mt-4 text-center">
      <h4 class="mt-3"><b>LinkedIn:</b></h4>
      <p th:text="${event.linkedin}"></p>
      <h4 class="mt-3"><b>Notes:</b></h4>
      <p th:text="${event.description}"></p>
      <button class="btn btn-lg btn-outline-secondary my-4"><a th:href="@{/events}" class="text-center text-decoration-none">Go back to My Network</a></button>
   </div>
</div>


</body>
</html>